<div class=" col-md-12 ">
    <h5 class="text-primary">Post</h5>
    <div class="form-group col-md-4">
        <label for="exampleFormControlSelect1">Usuario</label>
        <select class="form-control" (change)="select($event)" id="exampleFormControlSelect1">
                  <option *ngFor="let item of users"  [value]="item">{{item}}</option>
                </select>
    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4 " *ngFor="let item of data">
                <div class="card  border-info " style="max-height: 300px">
                    <div class="card-header">
                        <h5 class="text-primary">{{item.title}}</h5>

                    </div>
                    <div class="card-body " style="max-height: 200px; overflow-y: scroll;" data-spy="scroll">
                        <p>
                            {{item.body}}
                        </p>
                    </div>
                    <div class="card-footer">
                        {{item.userId}}
                    </div>
                </div>
                <br>
            </div>
            <br>
        </div>

    </div>
</div>