<ul class="nav  nav-pills  justify-content-end  bg-secondary ">
    <li class="nav-item  mt-4 mb-4 mr-4">
        <a class="nav-link text-white " [routerLink]="['/home/Pais']" routerLinkActive="active">Pais</a>
    </li>
    <li class="nav-item  mt-4 mb-4 mr-4">
        <a class="nav-link text-white" [routerLink]="['/home/Peru']" routerLinkActive="active">Perú</a>
    </li>

</ul>