<app-header></app-header>
<app-menu></app-menu>
<div class="row w-100 mb-4 mt-4">
    <div class="col-md-3">
        <app-datos></app-datos>
    </div>
    <div class="col-md-9">
        <app-right></app-right>
    </div>
</div>
<app-footer></app-footer>