<div class="col-md-12 ">
    <h4 class="text-primary">Datos Generales</h4>

    <div>
        <label>Nombre: {{datos.nombre}}</label>
        <br>
        <label>Email:  {{datos.email}} </label>
        <br>
        <label>Dirección:  {{datos.direccion}} </label>
        <br>
        <label>Teléfono:  {{datos.telefono}}</label>
    </div>

    barra social descripcion
</div>